#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  gap: 1em;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
